@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tategaki {
  height: 70%;
  position: absolute;
  background-color:rgba(20,20,20,0.3);
  padding: 20px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 1px;
  line-height: 1.8;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.Tategaki--font__normal {
  font-family: Noto Serif JP ;
  color: #FFFFFF;
}

.Tategaki--font__title {
  font-family: Noto Serif JP ;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.1em;
}

.manipulator {
  position: absolute;
  bottom: 80px;
  right: 20px;
}

.highlight {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 4px;
  margin: 5px;
  border-radius: 6px;
}

.highlight--color__red {
  background-color:#DD3377;
}

.highlight--color__yellow {
  background-color:#888800;
}

.highlight--color__blue {
  background-color:#008888;
}